<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>withLoginServlet</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>login.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.youssef.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.youssef.login.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>homeServlet</display-name>
		<servlet-name>homeServlet</servlet-name>
		<servlet-class>com.youssef.login.homeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/homeServlet</url-pattern>
	</servlet-mapping>
	<context-param>
        <param-name>dbUsername</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>Abdes3536</param-value>
    </context-param>
	
</web-app>